# COLUMSCREATOR
Este Notebook  genera columnas a partir de la información de las columnas rankID y taxon, para que sea posible unir varios documentos, sin perder la jerarquia del orden taxonomico con el que están generados, los documentos iniciales provienen de un análisis de secunecias con Mothur y la base de datos SILVA.

In [1]:
import pandas as pd
import numpy as np

Cargamos el documento que sale del NOTEBOOK Uncultured_unclussified

In [2]:
taxonesaire=pd.read_excel("Diversidad Hospital_UN_trated_Hpy.xlsx", sheet_name='AIRE')

In [3]:
taxonesaire

,taxlevel,rankID,taxon,daughterlevels,total,EH-A,ICU-CO-A,ICU-TR-A,ICU-PR1-A,OR-A,CO-A,TR-A,PR-A,ICU-PR2-A
0,0,0,Root,1,302197,24726,45269,34453,15626,25580,43204,33321,57900,22118
1,1,0.1,Bacteria,21,302197,24726,45269,34453,15626,25580,43204,33321,57900,22118
2,2,0.1.1,Acidobacteria,5,1280,0,0,0,122,0,0,0,0,1158
3,3,0.1.1.1,Acidobacteria_unclassified,1,5,0,0,0,5,0,0,0,0,0
4,4,0.1.1.1.1,Acidobacteria_unclassified,1,5,0,0,0,5,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,4,0.1.21.1.4,Verrucomicrobiales,2,4,0,0,0,4,0,0,0,0,0
825,5,0.1.21.1.4.1,Rubritaleaceae,1,3,0,0,0,3,0,0,0,0,0
826,6,0.1.21.1.4.1.1,Luteolibacter,0,3,0,0,0,3,0,0,0,0,0
827,5,0.1.21.1.4.2,Verrucomicrobiaceae,1,1,0,0,0,1,0,0,0,0,0
828,6,0.1.21.1.4.2.1,Verrucomicrobiaceae_uncultured,0,1,0,0,0,1,0,0,0,0,0

In [4]:
#taxonesaire['phylo'] = np.nan#creo unacolumna

In [5]:
taxonesaire.head()

,taxlevel,rankID,taxon,daughterlevels,total,EH-A,ICU-CO-A,ICU-TR-A,ICU-PR1-A,OR-A,CO-A,TR-A,PR-A,ICU-PR2-A
0,0,0,Root,1,302197,24726,45269,34453,15626,25580,43204,33321,57900,22118
1,1,0.1,Bacteria,21,302197,24726,45269,34453,15626,25580,43204,33321,57900,22118
2,2,0.1.1,Acidobacteria,5,1280,0,0,0,122,0,0,0,0,1158
3,3,0.1.1.1,Acidobacteria_unclassified,1,5,0,0,0,5,0,0,0,0,0
4,4,0.1.1.1.1,Acidobacteria_unclassified,1,5,0,0,0,5,0,0,0,0,0

In [6]:
fila = taxonesaire.iloc[3]

In [7]:
fila

taxlevel                                   3
rankID                               0.1.1.1
taxon             Acidobacteria_unclassified
daughterlevels                             1
total                                      5
EH-A                                       0
ICU-CO-A                                   0
ICU-TR-A                                   0
ICU-PR1-A                                  5
OR-A                                       0
CO-A                                       0
TR-A                                       0
PR-A                                       0
ICU-PR2-A                                  0
Name: 3, dtype: object

In [8]:
lista_rankID= fila.rankID.split(sep='.')

In [9]:

lista_rankID

['0', '1', '1', '1']

In [10]:
type(lista_rankID)

list

In [11]:
len(lista_rankID)

4

In [12]:
 level=2 # hago un contador, en este caso de esta fila quiero rellenar la primera columna con el filo bacteria que corresponde con 0.1 eso es nivel 2

In [13]:
lista_selector=lista_rankID[0:level]

In [14]:
 selector='.'.join(lista_selector)

In [15]:
df = taxonesaire

In [16]:
if len(lista_rankID[0:level]) < level:
     nombre_selector=np.nan
else:
    nombre_selector=df[df.rankID==selector].taxon 
    nombre_selector=nombre_selector.values[0]

In [17]:
nombre_selector=df[df.rankID==selector].taxon #dataframe de una sola celda
nombre_selector=nombre_selector.values[0] #no es un dataframe es el valor de una celda
nombre_selector

'Bacteria'

In [18]:
# Función para generar que van a contener las columnas quiero que cada fila contenga información

In [19]:
def column_creator(fila, level, df):
    """
    fila = 
    """
    try:
        lista_rankID= fila.rankID.split(sep='.')
        lista_selector=lista_rankID[0:level]
        selector='.'.join(lista_selector)
        nombre_selector=df[df.rankID==selector].taxon 
        if len(lista_rankID[0:level]) < level:
             nombre_selector=np.nan
        else:
            nombre_selector=nombre_selector.values[0]
    except Exception:
        nombre_selector=np.nan
    return nombre_selector

In [20]:
column_creator(fila, 2, taxonesaire)

'Bacteria'

In [21]:
taxonesaire.apply(column_creator,axis=1, args=(2,taxonesaire)) #aplicamos la funcion para rellenar la columna

0           NaN
1      Bacteria
2      Bacteria
3      Bacteria
4      Bacteria
         ...
824    Bacteria
825    Bacteria
826    Bacteria
827    Bacteria
828    Bacteria
Length: 829, dtype: object

In [22]:
fila

taxlevel                                   3
rankID                               0.1.1.1
taxon             Acidobacteria_unclassified
daughterlevels                             1
total                                      5
EH-A                                       0
ICU-CO-A                                   0
ICU-TR-A                                   0
ICU-PR1-A                                  5
OR-A                                       0
CO-A                                       0
TR-A                                       0
PR-A                                       0
ICU-PR2-A                                  0
Name: 3, dtype: object

In [23]:
taxonesaire['dominio'] = taxonesaire.apply(column_creator,axis=1, args=(2,taxonesaire))

In [24]:
taxonesaire['phylo'] = taxonesaire.apply(column_creator,axis=1, args=(3,taxonesaire))

In [25]:
taxonesaire['clase'] = taxonesaire.apply(column_creator,axis=1, args=(4,taxonesaire))

In [26]:
taxonesaire['orden'] = taxonesaire.apply(column_creator,axis=1, args=(5,taxonesaire))

In [27]:
taxonesaire['familia'] = taxonesaire.apply(column_creator,axis=1, args=(6,taxonesaire))

In [28]:
taxonesaire['genero'] = taxonesaire.apply(column_creator,axis=1, args=(7,taxonesaire))

In [29]:
taxonesaire.head(50)

,taxlevel,rankID,taxon,daughterlevels,total,EH-A,ICU-CO-A,ICU-TR-A,ICU-PR1-A,OR-A,CO-A,TR-A,PR-A,ICU-PR2-A,dominio,phylo,clase,orden,familia,genero
0,0,0,Root,1,302197,24726,45269,34453,15626,25580,43204,33321,57900,22118,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.1,Bacteria,21,302197,24726,45269,34453,15626,25580,43204,33321,57900,22118,Bacteria,NaN,NaN,NaN,NaN,NaN
2,2,0.1.1,Acidobacteria,5,1280,0,0,0,122,0,0,0,0,1158,Bacteria,Acidobacteria,NaN,NaN,NaN,NaN
3,3,0.1.1.1,Acidobacteria_unclassified,1,5,0,0,0,5,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,NaN,NaN,NaN
4,4,0.1.1.1.1,Acidobacteria_unclassified,1,5,0,0,0,5,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,Acidobacteria_unclassified,NaN,NaN
5,5,0.1.1.1.1.1,Acidobacteria_unclassified,1,5,0,0,0,5,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,Acidobacteria_unclassified,Acidobacteria_unclassified,NaN
6,6,0.1.1.1.1.1.1,Acidobacteria_unclassified,0,5,0,0,0,5,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,Acidobacteria_unclassified,Acidobacteria_unclassified,Acidobacteria_unclassified
7,3,0.1.1.2,Acidobacteriia,2,1216,0,0,0,58,0,0,0,0,1158,Bacteria,Acidobacteria,Acidobacteriia,NaN,NaN,NaN
8,4,0.1.1.2.1,Acidobacteriales,2,24,0,0,0,24,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,NaN,NaN
9,5,0.1.1.2.1.1,Acidobacteriaceae_(Subgroup_1),4,21,0,0,0,21,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),NaN
10,6,0.1.1.2.1.1.1,Acidipila,0,9,0,0,0,9,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Acidipila
11,6,0.1.1.2.1.1.2,Bryocella,0,2,0,0,0,2,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Bryocella
12,6,0.1.1.2.1.1.3,Granulicella,0,3,0,0,0,3,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Granulicella
13,6,0.1.1.2.1.1.4,Acidobacteriaceae_(Subgroup_1),0,7,0,0,0,7,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Acidobacteriaceae_(Subgroup_1)
14,5,0.1.1.2.1.2,Acidobacteriales_unclassified,1,3,0,0,0,3,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriales_unclassified,NaN
15,6,0.1.1.2.1.2.1,Acidobacteriales_unclassified,0,3,0,0,0,3,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriales_unclassified,Acidobacteriales_unclassified
16,4,0.1.1.2.2,Solibacterales,1,1192,0,0,0,34,0,0,0,0,1158,Bacteria,Acidobacteria,Acidobacteriia,Solibacterales,NaN,NaN
17,5,0.1.1.2.2.1,Solibacteraceae_(Subgroup_3),2,1192,0,0,0,34,0,0,0,0,1158,Bacteria,Acidobacteria,Acidobacteriia,Solibacterales,Solibacteraceae_(Subgroup_3),NaN
18,6,0.1.1.2.2.1.1,Bryobacter,0,32,0,0,0,32,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Solibacterales,Solibacteraceae_(Subgroup_3),Bryobacter
19,6,0.1.1.2.2.1.2,Solibacteraceae_(Subgroup_3),0,1160,0,0,0,2,0,0,0,0,1158,Bacteria,Acidobacteria,Acidobacteriia,Solibacterales,Solibacteraceae_(Subgroup_3),Solibacteraceae_(Subgroup_3)
20,3,0.1.1.3,Blastocatellia_(Subgroup_4),1,46,0,0,0,46,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),NaN,NaN,NaN
21,4,0.1.1.3.1,Blastocatellales,1,46,0,0,0,46,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellales,NaN,NaN
22,5,0.1.1.3.1.1,Blastocatellaceae,2,46,0,0,0,46,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellales,Blastocatellaceae,NaN
23,6,0.1.1.3.1.1.1,Blastocatella,0,29,0,0,0,29,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellales,Blastocatellaceae,Blastocatella
24,6,0.1.1.3.1.1.2,Blastocatellaceae,0,17,0,0,0,17,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellales,Blastocatellaceae,Blastocatellaceae
25,3,0.1.1.4,Holophagae,1,4,0,0,0,4,0,0,0,0,0,Bacteria,Acidobacteria,Holophagae,NaN,NaN,NaN
26,4,0.1.1.4.1,Subgroup_7,1,4,0,0,0,4,0,0,0,0,0,Bacteria,Acidobacteria,Holophagae,Subgroup_7,NaN,NaN
27,5,0.1.1.4.1.1,Subgroup_7_fa,1,4,0,0,0,4,0,0,0,0,0,Bacteria,Acidobacteria,Holophagae,Subgroup_7,Subgroup_7_fa,NaN
28,6,0.1.1.4.1.1.1,Subgroup_7_ge,0,4,0,0,0,4,0,0,0,0,0,Bacteria,Acidobacteria,Holophagae,Subgroup_7,Subgroup_7_fa,Subgroup_7_ge
29,3,0.1.1.5,Subgroup_6,2,9,0,0,0,9,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_6,NaN,NaN,NaN
30,4,0.1.1.5.1,Subgroup_6_or,1,7,0,0,0,7,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_6,Subgroup_6_or,NaN,NaN
31,5,0.1.1.5.1.1,Subgroup_6_fa,1,7,0,0,0,7,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_6,Subgroup_6_or,Subgroup_6_fa,NaN
32,6,0.1.1.5.1.1.1,Subgroup_6_ge,0,7,0,0,0,7,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_6,Subgroup_6_or,Subgroup_6_fa,Subgroup_6_ge
33,4,0.1.1.5.2,Subgroup_6_unclassified,1,2,0,0,0,2,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_6,Subgroup_6_unclassified,NaN,NaN
34,5,0.1.1.5.2.1,Subgroup_6_unclassified,1,2,0,0,0,2,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_6,Subgroup_6_unclassified,Subgroup_6_unclassified,NaN
35,6,0.1.1.5.2.1.1,Subgroup_6_unclassified,0,2,0,0,0,2,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_6,Subgroup_6_unclassified,Subgroup_6_unclassified,Subgroup_6_unclassified
36,2,0.1.2,Actinobacteria,7,46099,3173,10150,4256,6311,7976,2166,5213,2980,3874,Bacteria,Actinobacteria,NaN,NaN,NaN,NaN
37,3,0.1.2.1,Acidimicrobiia,3,90,0,0,0,90,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,NaN,NaN,NaN
38,4,0.1.2.1.1,Acidimicrobiia_unclassified,1,26,0,0,0,26,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,Acidimicrobiia_unclassified,NaN,NaN
39,5,0.1.2.1.1.1,Acidimicrobiia_unclassified,1,26,0,0,0,26,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,Acidimicrobiia_unclassified,Acidimicrobiia_unclassified,NaN
40,6,0.1.2.1.1.1.1,Acidimicrobiia_unclassified,0,26,0,0,0,26,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,Acidimicrobiia_unclassified,Acidimicrobiia_unclassified,Acidimicrobiia_unclassified
41,4,0.1.2.1.2,Microtrichales,4,57,0,0,0,57,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,Microtrichales,NaN,NaN
42,5,0.1.2.1.2.1,Iamiaceae,1,1,0,0,0,1,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,Microtrichales,Iamiaceae,NaN
43,6,0.1.2.1.2.1.1,Iamia,0,1,0,0,0,1,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,Microtrichales,Iamiaceae,Iamia
44,5,0.1.2.1.2.2,Ilumatobacteraceae,1,18,0,0,0,18,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,Microtrichales,Ilumatobacteraceae,NaN
45,6,0.1.2.1.2.2.1,Ilumatobacteraceae_uncultured,0,18,0,0,0,18,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,Microtrichales,Ilumatobacteraceae,Ilumatobacteraceae_uncultured
46,5,0.1.2.1.2.3,Microtrichales_unclassified,1,35,0,0,0,35,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,Microtrichales,Microtrichales_unclassified,NaN
47,6,0.1.2.1.2.3.1,Microtrichales_unclassified,0,35,0,0,0,35,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,Microtrichales,Microtrichales_unclassified,Microtrichales_unclassified
48,5,0.1.2.1.2.4,Microtrichales_uncultured,1,3,0,0,0,3,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,Microtrichales,Microtrichales_uncultured,NaN
49,6,0.1.2.1.2.4.1,Microtrichales_uncultured,0,3,0,0,0,3,0,0,0,0,0,Bacteria,Actinobacteria,Acidimicrobiia,Microtrichales,Microtrichales_uncultured,Microtrichales_uncultured

In [30]:
lista_rankID[0:1000]

['0', '1', '1', '1']

## Crear excel
además hay que tener en cuenta el nobre de la hoja el sheet name!!!

In [31]:
taxonesaire.to_excel('Diversidad Hospital_columscreator_Hpy.xlsx',index=False, sheet_name='AIRE')

A partir de aquí se repite el proceso pra otra hoja del excel

## Cargo otra hoja del excel inicial

In [32]:
taxonesaire=pd.read_excel("Diversidad Hospital_UN_trated_Hpy.xlsx", sheet_name='SUP')

In [33]:
taxonesaire

,taxlevel,rankID,taxon,daughterlevels,total,ICU-PR2-S,ICU-CO-S,ICU-TR-S,ICU-PR1-S,OR-S,EH-S,CO-S,TR-S,PR-S
0,0,0,Root,1,171719,23652,15738,15239,18508,19693,40072,15156,11068,12593
1,1,0.1,Bacteria,27,171719,23652,15738,15239,18508,19693,40072,15156,11068,12593
2,2,0.1.1,Acidobacteria,6,780,131,74,148,11,105,0,30,144,137
3,3,0.1.1.1,Acidobacteria_unclassified,1,5,4,0,1,0,0,0,0,0,0
4,4,0.1.1.1.1,Acidobacteria_unclassified,1,5,4,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,4,0.1.27.1.5,Verrucomicrobiales,2,7,1,1,0,5,0,0,0,0,0
1136,5,0.1.27.1.5.1,Rubritaleaceae,1,1,0,1,0,0,0,0,0,0,0
1137,6,0.1.27.1.5.1.1,Luteolibacter,0,1,0,1,0,0,0,0,0,0,0
1138,5,0.1.27.1.5.2,Verrucomicrobiaceae,1,6,1,0,0,5,0,0,0,0,0
1139,6,0.1.27.1.5.2.1,Verrucomicrobiaceae_uncultured,0,6,1,0,0,5,0,0,0,0,0

In [34]:
#taxonesaire['phylo'] = np.nan#creo unacolumna

In [35]:
taxonesaire.head()

,taxlevel,rankID,taxon,daughterlevels,total,ICU-PR2-S,ICU-CO-S,ICU-TR-S,ICU-PR1-S,OR-S,EH-S,CO-S,TR-S,PR-S
0,0,0,Root,1,171719,23652,15738,15239,18508,19693,40072,15156,11068,12593
1,1,0.1,Bacteria,27,171719,23652,15738,15239,18508,19693,40072,15156,11068,12593
2,2,0.1.1,Acidobacteria,6,780,131,74,148,11,105,0,30,144,137
3,3,0.1.1.1,Acidobacteria_unclassified,1,5,4,0,1,0,0,0,0,0,0
4,4,0.1.1.1.1,Acidobacteria_unclassified,1,5,4,0,1,0,0,0,0,0,0

In [36]:
fila = taxonesaire.iloc[3]

In [37]:
fila

taxlevel                                   3
rankID                               0.1.1.1
taxon             Acidobacteria_unclassified
daughterlevels                             1
total                                      5
ICU-PR2-S                                  4
ICU-CO-S                                   0
ICU-TR-S                                   1
ICU-PR1-S                                  0
OR-S                                       0
EH-S                                       0
CO-S                                       0
TR-S                                       0
PR-S                                       0
Name: 3, dtype: object

In [38]:
lista_rankID= fila.rankID.split(sep='.')

In [39]:

lista_rankID

['0', '1', '1', '1']

In [40]:
type(lista_rankID)

list

In [41]:
len(lista_rankID)

4

In [42]:
 level=2 # hago un contador

In [43]:
lista_selector=lista_rankID[0:level]

In [44]:
 selector='.'.join(lista_selector)

In [45]:
df = taxonesaire

In [46]:
if len(lista_rankID[0:level]) < level:
     nombre_selector=np.nan
else:
    nombre_selector=df[df.rankID==selector].taxon 
    nombre_selector=nombre_selector.values[0]

In [47]:
nombre_selector=df[df.rankID==selector].taxon #dataframe de una sola celda
nombre_selector=nombre_selector.values[0] #no es un dataframe es el valor de una celda

In [48]:
def column_creator(fila, level, df):
    """
    fila = 
    """
    try:
        lista_rankID= fila.rankID.split(sep='.')
        lista_selector=lista_rankID[0:level]
        selector='.'.join(lista_selector)
        nombre_selector=df[df.rankID==selector].taxon 
        if len(lista_rankID[0:level]) < level:
             nombre_selector=np.nan
        else:
            nombre_selector=nombre_selector.values[0]
    except Exception:
        nombre_selector=np.nan
    return nombre_selector

In [49]:
column_creator(fila, 2, taxonesaire)

'Bacteria'

In [50]:
taxonesaire.apply(column_creator,axis=1, args=(2,taxonesaire))

0            NaN
1       Bacteria
2       Bacteria
3       Bacteria
4       Bacteria
          ...
1135    Bacteria
1136    Bacteria
1137    Bacteria
1138    Bacteria
1139    Bacteria
Length: 1140, dtype: object

In [51]:
fila

taxlevel                                   3
rankID                               0.1.1.1
taxon             Acidobacteria_unclassified
daughterlevels                             1
total                                      5
ICU-PR2-S                                  4
ICU-CO-S                                   0
ICU-TR-S                                   1
ICU-PR1-S                                  0
OR-S                                       0
EH-S                                       0
CO-S                                       0
TR-S                                       0
PR-S                                       0
Name: 3, dtype: object

In [52]:
taxonesaire['dominio'] = taxonesaire.apply(column_creator,axis=1, args=(2,taxonesaire))

In [53]:
taxonesaire['phylo'] = taxonesaire.apply(column_creator,axis=1, args=(3,taxonesaire))

In [54]:
taxonesaire['clase'] = taxonesaire.apply(column_creator,axis=1, args=(4,taxonesaire))

In [55]:
taxonesaire['orden'] = taxonesaire.apply(column_creator,axis=1, args=(5,taxonesaire))

In [56]:
taxonesaire['familia'] = taxonesaire.apply(column_creator,axis=1, args=(6,taxonesaire))

In [57]:
taxonesaire['genero'] = taxonesaire.apply(column_creator,axis=1, args=(7,taxonesaire))

In [58]:
taxonesaire.head(50)

,taxlevel,rankID,taxon,daughterlevels,total,ICU-PR2-S,ICU-CO-S,ICU-TR-S,ICU-PR1-S,OR-S,EH-S,CO-S,TR-S,PR-S,dominio,phylo,clase,orden,familia,genero
0,0,0,Root,1,171719,23652,15738,15239,18508,19693,40072,15156,11068,12593,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.1,Bacteria,27,171719,23652,15738,15239,18508,19693,40072,15156,11068,12593,Bacteria,NaN,NaN,NaN,NaN,NaN
2,2,0.1.1,Acidobacteria,6,780,131,74,148,11,105,0,30,144,137,Bacteria,Acidobacteria,NaN,NaN,NaN,NaN
3,3,0.1.1.1,Acidobacteria_unclassified,1,5,4,0,1,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,NaN,NaN,NaN
4,4,0.1.1.1.1,Acidobacteria_unclassified,1,5,4,0,1,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,Acidobacteria_unclassified,NaN,NaN
5,5,0.1.1.1.1.1,Acidobacteria_unclassified,1,5,4,0,1,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,Acidobacteria_unclassified,Acidobacteria_unclassified,NaN
6,6,0.1.1.1.1.1.1,Acidobacteria_unclassified,0,5,4,0,1,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteria_unclassified,Acidobacteria_unclassified,Acidobacteria_unclassified,Acidobacteria_unclassified
7,3,0.1.1.2,Acidobacteriia,3,424,48,30,56,11,105,0,30,144,0,Bacteria,Acidobacteria,Acidobacteriia,NaN,NaN,NaN
8,4,0.1.1.2.1,Acidobacteriales,3,29,10,5,0,7,7,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,NaN,NaN
9,5,0.1.1.2.1.1,Acidobacteriaceae_(Subgroup_1),3,23,10,0,0,6,7,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),NaN
10,6,0.1.1.2.1.1.1,Acidipila,0,8,8,0,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Acidipila
11,6,0.1.1.2.1.1.2,Granulicella,0,9,2,0,0,0,7,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Granulicella
12,6,0.1.1.2.1.1.3,Acidobacteriaceae_(Subgroup_1),0,6,0,0,0,6,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae_(Subgroup_1),Acidobacteriaceae_(Subgroup_1)
13,5,0.1.1.2.1.2,Acidobacteriales_unclassified,1,5,0,5,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriales_unclassified,NaN
14,6,0.1.1.2.1.2.1,Acidobacteriales_unclassified,0,5,0,5,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriales_unclassified,Acidobacteriales_unclassified
15,5,0.1.1.2.1.3,Acidobacteriales_uncultured,1,1,0,0,0,1,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriales_uncultured,NaN
16,6,0.1.1.2.1.3.1,Acidobacteriales_uncultured,0,1,0,0,0,1,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriales_uncultured,Acidobacteriales_uncultured
17,4,0.1.1.2.2,Solibacterales,1,91,20,9,20,0,12,0,30,0,0,Bacteria,Acidobacteria,Acidobacteriia,Solibacterales,NaN,NaN
18,5,0.1.1.2.2.1,Solibacteraceae_(Subgroup_3),2,91,20,9,20,0,12,0,30,0,0,Bacteria,Acidobacteria,Acidobacteriia,Solibacterales,Solibacteraceae_(Subgroup_3),NaN
19,6,0.1.1.2.2.1.1,Bryobacter,0,88,19,9,18,0,12,0,30,0,0,Bacteria,Acidobacteria,Acidobacteriia,Solibacterales,Solibacteraceae_(Subgroup_3),Bryobacter
20,6,0.1.1.2.2.1.2,Solibacteraceae_(Subgroup_3),0,3,1,0,2,0,0,0,0,0,0,Bacteria,Acidobacteria,Acidobacteriia,Solibacterales,Solibacteraceae_(Subgroup_3),Solibacteraceae_(Subgroup_3)
21,4,0.1.1.2.3,Subgroup_2,1,304,18,16,36,4,86,0,0,144,0,Bacteria,Acidobacteria,Acidobacteriia,Subgroup_2,NaN,NaN
22,5,0.1.1.2.3.1,Subgroup_2_fa,1,304,18,16,36,4,86,0,0,144,0,Bacteria,Acidobacteria,Acidobacteriia,Subgroup_2,Subgroup_2_fa,NaN
23,6,0.1.1.2.3.1.1,Subgroup_2_ge,0,304,18,16,36,4,86,0,0,144,0,Bacteria,Acidobacteria,Acidobacteriia,Subgroup_2,Subgroup_2_fa,Subgroup_2_ge
24,3,0.1.1.3,Blastocatellia_(Subgroup_4),3,283,62,31,53,0,0,0,0,0,137,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),NaN,NaN,NaN
25,4,0.1.1.3.1,11-24_,1,13,9,0,4,0,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),11-24_,NaN,NaN
26,5,0.1.1.3.1.1,11-24_fa,1,13,9,0,4,0,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),11-24_,11-24_fa,NaN
27,6,0.1.1.3.1.1.1,11-24_ge,0,13,9,0,4,0,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),11-24_,11-24_fa,11-24_ge
28,4,0.1.1.3.2,Blastocatellales,1,249,53,25,34,0,0,0,0,0,137,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellales,NaN,NaN
29,5,0.1.1.3.2.1,Blastocatellaceae,5,249,53,25,34,0,0,0,0,0,137,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellales,Blastocatellaceae,NaN
30,6,0.1.1.3.2.1.1,Blastocatella,0,24,16,8,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellales,Blastocatellaceae,Blastocatella
31,6,0.1.1.3.2.1.2,JGI_0001001-H03,0,3,0,3,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellales,Blastocatellaceae,JGI_0001001-H03
32,6,0.1.1.3.2.1.3,Stenotrophobacter,0,18,16,0,2,0,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellales,Blastocatellaceae,Stenotrophobacter
33,6,0.1.1.3.2.1.4,Blastocatellaceae,0,173,21,4,23,0,0,0,0,0,125,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellales,Blastocatellaceae,Blastocatellaceae
34,6,0.1.1.3.2.1.5,Blastocatellaceae_uncultured,0,31,0,10,9,0,0,0,0,0,12,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellales,Blastocatellaceae,Blastocatellaceae_uncultured
35,4,0.1.1.3.3,Blastocatellia_(Subgroup_4)_unclassified,1,21,0,6,15,0,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellia_(Subgroup_4)_unclassified,NaN,NaN
36,5,0.1.1.3.3.1,Blastocatellia_(Subgroup_4)_unclassified,1,21,0,6,15,0,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellia_(Subgroup_4)_unclassified,Blastocatellia_(Subgroup_4)_unclassified,NaN
37,6,0.1.1.3.3.1.1,Blastocatellia_(Subgroup_4)_unclassified,0,21,0,6,15,0,0,0,0,0,0,Bacteria,Acidobacteria,Blastocatellia_(Subgroup_4),Blastocatellia_(Subgroup_4)_unclassified,Blastocatellia_(Subgroup_4)_unclassified,Blastocatellia_(Subgroup_4)_unclassified
38,3,0.1.1.4,Holophagae,1,2,0,2,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Holophagae,NaN,NaN,NaN
39,4,0.1.1.4.1,Subgroup_7,1,2,0,2,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Holophagae,Subgroup_7,NaN,NaN
40,5,0.1.1.4.1.1,Subgroup_7_fa,1,2,0,2,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Holophagae,Subgroup_7,Subgroup_7_fa,NaN
41,6,0.1.1.4.1.1.1,Subgroup_7_ge,0,2,0,2,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Holophagae,Subgroup_7,Subgroup_7_fa,Subgroup_7_ge
42,3,0.1.1.5,Subgroup_17,1,2,2,0,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_17,NaN,NaN,NaN
43,4,0.1.1.5.1,Subgroup_17_or,1,2,2,0,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_17,Subgroup_17_or,NaN,NaN
44,5,0.1.1.5.1.1,Subgroup_17_fa,1,2,2,0,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_17,Subgroup_17_or,Subgroup_17_fa,NaN
45,6,0.1.1.5.1.1.1,Subgroup_17_ge,0,2,2,0,0,0,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_17,Subgroup_17_or,Subgroup_17_fa,Subgroup_17_ge
46,3,0.1.1.6,Subgroup_6,2,64,15,11,38,0,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_6,NaN,NaN,NaN
47,4,0.1.1.6.1,Subgroup_6_or,1,51,14,11,26,0,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_6,Subgroup_6_or,NaN,NaN
48,5,0.1.1.6.1.1,Subgroup_6_fa,1,51,14,11,26,0,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_6,Subgroup_6_or,Subgroup_6_fa,NaN
49,6,0.1.1.6.1.1.1,Subgroup_6_ge,0,51,14,11,26,0,0,0,0,0,0,Bacteria,Acidobacteria,Subgroup_6,Subgroup_6_or,Subgroup_6_fa,Subgroup_6_ge

In [59]:
lista_rankID[0:1000]

['0', '1', '1', '1']

## Introducir una hoja nueva en un excel ya creado

In [60]:

with pd.ExcelWriter('Diversidad Hospital_columscreator_Hpy.xlsx', engine = 'openpyxl', mode='a') as writer:
    taxonesaire.to_excel(writer,index=False, sheet_name='SUP')